:local {
  .column {
    border: solid 1px red;
    width: 400px;
    min-height: 300px;
    //padding: 8px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .list {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    margin-bottom: 8px;
    //padding: 8px;
  }
}